body {
  font-family: Arial;
  background: white;
  color: black;
  text-align: center;
  padding-top: 50px;
  transition: 0.3s;
}

.dark {
  background: #222;
  color: white;
}

button {
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}